<!--Lesson 1: <app-hello></app-hello>-->

<!--Lesson 2: <app-data-and-event-binding></app-data-and-event-binding>-->

<!--Lesson 3: <app-directive-ngif></app-directive-ngif>-->

<!--Lesson 4: <app-directive-ngfor></app-directive-ngfor>-->

<!--Lesson 5: <app-class-and-style-binding></app-class-and-style-binding>-->

<!--Lesson 6: <app-input-binding></app-input-binding>-->

<!--Lesson 7: <author-list></author-list>-->

<!--Lesson 8: <app-two-way-binding></app-two-way-binding>-->

<!--Lesson 9: <app-template-variable-and-view-child-view-children></app-template-variable-and-view-child-view-children>-->

<!--Lesson 10: typescript advanced data type-->
<!--<flex-container flexDirection="column">-->
<!--  <p>Some</p>-->
<!--  <p>Thing</p>-->
<!--</flex-container>-->

<!--Lesson 11 <app-content-projection></app-content-projection>-->

<!--Lesson 12 <app-ng-template-ng-template-outlet-ng-container></app-ng-template-ng-template-outlet-ng-container>-->

<!-- Lesson 13 <h3>Dependency Injection</h3>
<tab-group [(activeIndex)]="currentIndex">
  <tab-panel title="First tab">First tab content</tab-panel>
  <tab-panel title="Second tab">Second tab content</tab-panel>
  <tab-panel title="Third tab">Third tab content</tab-panel>
  <tab-panel title="Fourth tab">Fourth tab content</tab-panel>
</tab-group>

<tab-bootstrap-group [(activeIndex)]="currentIndex">
  <tab-panel title="First tab">First tab content</tab-panel>
  <tab-panel title="Second tab">Second tab content</tab-panel>
  <tab-panel title="Third tab">Third tab content</tab-panel>
  <tab-panel title="Fourth tab">Fourth tab content</tab-panel>
</tab-bootstrap-group>
-->

<!--
Lesson 14 <h3>Content Child and Children</h3>
<button class="btn btn-primary" (click)="showTab4 = !showTab4">Toggle tab 4</button>
<app-content-child-and-children [(activeIndex)]="currentIndex">
  <tab-panel title="First tab">
    <ng-template tabContent>
      First tab content
      <counter></counter>
    </ng-template>
  </tab-panel>
  <tab-panel title="Second tab">
    <ng-template tabContent>
      Second tab content
      <counter></counter>
    </ng-template>
  </tab-panel>
  <tab-panel title="Third tab">
    <ng-template tabContent>
      Third tab content
      <counter></counter>
    </ng-template>
  </tab-panel>
  <tab-panel title="Fourth tab" *ngIf="showTab4">
    <ng-template tabContent>
      Fourth tab content
      <counter></counter>
    </ng-template>
  </tab-panel>
</app-content-child-and-children>
-->

<!--Lesson 15 <app-pipe></app-pipe>-->


<!--Lesson 16 <app-rx-js></app-rx-js>-->

<!--Lesson 17: <b>RxJS Creation Operators</b> <app-rx-jscreation-operators></app-rx-jscreation-operators>-->

Lesson 18: <b>RxJS Transformation Operators</b> <rx-js-transformation-operators></rx-js-transformation-operators>

